!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/raphael-min.js')
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/drs-parser.js')
    script(src='/javascripts/mytree.js')
  body
    div(id='container')!= body
